body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 3rem;
  background: #870000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #190a05,
    #870000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #190a05,
    #870000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  .Stopwatch {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .buttons {
      button {
        font-size: 2rem;
        background-color: #870000;
        margin-left: 10px;
        outline: none;
        border: none;
        color: white;
      }
      button:hover {
        background-color: #7c0101;
      }
    }
  }
}
